{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, [{base32,
         {git, "https://github.com/gearnode/erl-base32.git",
          {tag, "v1.0.1"}}},
        {uri,
         {git, "https://github.com/gearnode/erl-uri.git",
          {tag, "v1.4.0"}}}]}.
