{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps, [{base32,
         {git, "https://github.com/exograd/erl-base32.git",
          {tag, "master"}}},
        {uri,
         {git, "https://github.com/exograd/erl-uri.git",
          {branch, "master"}}}]}.
